body{
    margin: 0;
    padding: 0;
}

.content {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    font-size: 50px;
    color: white;
    font-family: georgia,'times new roman',serif;
    font-variant: small-caps;
}

.content ul{
    text-align: center;
}

.content li{
    display: inline-block;
    padding: 0 20px;
    font-size: 40px;
}


@media screen and (max-width: 320px) and (max-width: 480px){
    .content{
        width: 320px;
        height: 480px;
    }
}
