body{
}

.content {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    color: white;
}

@media screen and (max-width: 320px) and (max-width: 480px){
    .content{
        width: 320px;
        height: 480px;
    }
}
